[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
typing = "*"
gunicorn = "*"
uvicorn = "*"
spacy = "*"

[dev-packages]
flake8 = "*"
black = "*"
uvicorn = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.9"
